<div >
				

			<div  ng-show="portfolio.isSelectedProject(4)">
				<div class="col-md-3 col-sm-6 col-xs-12" ng-repeat="slika in portfolio.karakteri">
					<div class="view view-tenth">
						<img ng-src="{{slika.slike[0].jpg}}" />
						<div class="mask">
	                        <h2>{{slika.nazivProjekta}}</h2>
	                        <p>{{slika.opisProjekta}}</p>
	                        <a href="" ng-click="portfolio.selectGallery($index); portfolio.selectProject(0)" class="info">Gallery</a>
	                    </div>
                	</div>
				</div>

				<div class="col-md-12 col-sm-12 col-xs-12 text-center"> 
					<button id="singlebutton" name="singlebutton" class="btn btn-primary" ng-click="portfolio.selectTab(0)">
					<img src="./img/icon/arrow.png"/>Go Back
					</button> 
				</div>
			</div>

			

			<div ng-show="portfolio.isSelectedGallery(portfolio.currentGallery)">

				<div class="col-md-3 col-sm-6 col-xs-12" ng-repeat="slika in portfolio.karakteri[portfolio.currentGallery].slike">
					<div class="galerija">
						<img ng-src="{{slika.jpg}}" />
                	</div>
				</div>

				<div class="col-md-12 col-sm-12 col-xs-12 text-center"> 
					<button id="singlebutton" name="singlebutton" class="btn btn-primary" ng-click="portfolio.selectProject(4); portfolio.selectGallery(100)">
					<img src="./img/icon/arrow.png"/>Go Back
					</button> 
				</div>
			</div>

</div>