<div ng-show="portfolio.isSelected(2)">


<div class="col-md-3 col-sm-6 col-xs-12" ng-repeat="crtez in portfolio.crtezi">
					<div class="view view-tenth">
						<img ng-src="{{crtez.slike[0].jpg}}" />
						<div class="mask">
	                        <h2>{{crtez.nazivProjekta}}</h2>
	                        <p>{{crtez.opisProjekta}}</p>
	                        <a href="" class="info">Gallery</span>
	                    </div>
                	</div>
				</div>
				<div class="col-md-12 col-sm-12 col-xs-12 text-center"> 
					<button id="singlebutton" name="singlebutton" class="btn btn-primary" ng-click="portfolio.selectTab(0)"><img src="./img/icon/arrow.png"/>Go Back
					</button> 
				</div>
</div>