<div ng-show="portfolio.isSelected(3)">
<div class='naslovPortfolio'>
				<span>
					<div class='naslov-bor'></div>
					Ilustracije
					<div class='naslov-bor'></div>
				</span>
</div>

<div class="col-md-3 col-sm-6 col-xs-12" ng-repeat="ilustracija in portfolio.ilustracije">
					<div class="view view-tenth">
						<img ng-src="{{ilustracija.slike[0].jpg}}" />
						<div class="mask">
	                        <h2>{{ilustracija.nazivProjekta}}</h2>
	                        <p>{{ilustracija.opisProjekta}}</p>
	                        <a href="" class="info">Gallery</span>
	                    </div>
                	</div>
				</div>
				<div class="col-md-12 text-center"> 
					<button id="singlebutton" name="singlebutton" class="btn btn-primary" ng-click="portfolio.selectTab(0)"><img src="./img/icon/arrow.png"/>Nazad
					</button> 
				</div>
</div>