<!DOCTYPE html>
<html ng-app='site'>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

	<title>Margot Savin | Art</title>
	<meta name="description" content="The portfolio of Margot Savin"/>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

	<link rel="stylesheet" type="text/css" href="./css/style.css">
	<link rel="icon" type="image/png" href="./img/icon/icon.png">
	<script   src="https://code.jquery.com/jquery-3.1.0.min.js"   integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="   crossorigin="anonymous"></script>
	<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body ng-controller='PanelController as panel' ng-class="{homePage: panel.isSelected(1), elsePage:!panel.isSelected(1)}">
	
	<div class="all container"  >

		<div id="menu">
			<span ng-click="panel.selectTab(1)">Home</span>
			<span ng-click="panel.selectTab(2)">About</span>
			<span ng-click="panel.selectTab(3)">Portfolio</span>
			<span ng-click="panel.selectTab(4)">Contact</span>
		</div>
		
		<div id='#container'>	
			<div id='ms' ng-show="panel.isSelected(1)">
				<span>Margot Savin
					<div id='ms-bor'></div>
				</span>
			</div>
			
<!-------------- ABOUT -------------------------------->

			<div id='about' ng-show='panel.isSelected(2)'>
				
				
				<img src='./img/about/mega.jpg'> 
				<div class='info'>             
							<span class='ime'>Margot Savin</span><br/>
							<span class='job'>Painter / Graphic designer</span>
				</div><br/>
				
				<div id='text'>
					
					<span class='bold'>Biography:</span>

					<p>
						I was born on 08.08.1989. in Novi Sad. I grew up in Futog where paralel with the regular education i had a chance to attend painting school and arcestra for gifted children. After finishing the elementary school i was admitted to the high school for design and fine arts. After sucessfully completing the high school i was admitted to the Academy of Fine Arts in Novi Sad. I graduated with a degree in painting under the mentorship of Dusan Todorovic. 
					</p>

					<span class='bold'>Education - Qualification</span>

					<p>
						Group exebition of paintings / Kulturni Centar Futog, 2015 <br/>
						Group exebition of children illustration 48, Golden Pen and 14 <br/>
						Biennial of children illustration / Belgrade, NBS, 2015 <br/>
						Group exebition of paintings / Kulturni Centar Futog, 2014 <br/>
						Group exebition of illustration / Book fair, Novi Sad, 2014 <br/>
						Project Cooperation Dance Theater Performance by<br/> Theater Pozitiv The Third / Ljubljana - Novi Sad, 2014 <br/>
						Group exebition of paintings / Ljubljana, 2014 <br/>
						Took part in project establishing association PUSHWAGNERART<br/> / cooperation with the Norwegian artist Terje Brofos known to the <br/> world art scene as Harlton Pushwagner / 2013-2014 <br/>
						Took part in project EU to be a citizen in Ljubljana <br/>/ graffiti and stencil art, 2013 <br/> 
						Group exebition of paintings in Culture and Art society Vitizop<br/>
						Ljubljana / Slovenija, 2013 <br/>
						Independent exebition of drawings Culture and Art society Vitizop <br/>
						in Ljubljana / Slovenia, 2013 <br/>
						Group exebition of paintings gallery Pavla Beljanskog <br/>
						/ Novi Sad, 2013 <br/>
						Group exebition instalations Museum of Contemporary Art <br/> / Novi Sad, 2012 <br/>
						World Biennial of students photography / Novi Sad, 2012 <br/>
						World Biennial of student photography / Novi Sad, 2011<br/>
						Group exebition of photography / Novi Sad, 2011 <br/>
						Art colony and group exebition / Uzice, 2010 <br/>
						Academy of Fine Arts in Novi Sad / major painting / class of 2009 <br/>
						Group exebition of paintings / Deronje, 2008 <br/>
						Art colony / Deronje, 2008 <br/>
						Group exebition graphic desing Army museum / Novi Sad, 2007 <br/>
						Art show Centar Apolo - group exebition / Novi Sad, 2006 <br/>
						Art colony in Futog for charity / 2006 <br/>
						European Union Youthpass certificate / Youth Exchange<br/>
						High school for design and fine arts Bogdan Suput in Novi Sad <br/>
						/ graphic design department / 2004
					</p>

					<span class='bold'>Experience</span>

					<p>
						Courently living at Novi Sad and working at Eipix as character painter, <br/>
						1997/2015... making and decorating cakes and cookies in <br/>
						workshop Drenacakes in Futog / decorating cakes and making <br/>
						figurines. <br/>
						2014/2015. Opens an alternative space - Kreativni Kutak- <br/>
						school of arts for children / in Novi Sad. <br/>
						2014. Work graphic design for club MOVED / Novi Sad, I year <br/>
						2013/2014. Work for Norwegian artist Pushwagner - digital <br/>
						processing of drawings and grapgic desing, I year <br/>
						2013. Interior decorating gardens caffe Betula / Novi Sad <br/> 
						2012. Interior fitting D cluba / Novi Sad.<br/>
						2009. Volunteer work within organization MNRO / teaching <br/> 
						children with special needs / Novo Naselje. I year


					</p>

				</div>
				
				
			</div>

<!----------------------- PORTFOLIO ------------------------>
			<div ng-controller="PortfolioController as portfolio" class="container" id="portfolio" ng-show='panel.isSelected(3)'>
				<div class="col-md-3 col-sm-6 col-xs-12" ng-repeat="projekat in portfolio.projekti">
					<div class="view view-tenth">
						<img ng-src="{{projekat.slike[0].jpg}}" >
						<div class="mask">
	                        <h2>{{projekat.nazivProjekta}}</h2>
	                        <p>{{projekat.opisProjekta}}</p>
	                        <a href="#" class="info">Galerija</a>
	                    </div>
                	</div>
				</div>
			</div>

<!------------------------- CONTACT ---------------------------->


			<div id='contact' ng-show='panel.isSelected(4)'>
				<div class="center_div">
				<form action="https://formspree.io/margotsavin@gmail.com" method="POST" >
					<div class="form-group">
						<span>Your Name </span><span style="color:red">*</span><br/>
					    <input class="form-control" type="text" name="name"><br/>
				    </div>
				    <div class="form-group">
					    <span>Email </span><span style="color:red">*</span><br/>
					    <input class="form-control" type="email" name="_replyto"><br/>
					</div>
					<div class="form-group">
					    <span>Message </span><span style="color:red">*</span><br/>
					    <textarea class="form-control" name='message'></textarea><br/>
				    </div>
				    <input class="sub" type="submit" value="Send">
				    <input type="hidden" name="_next" value="//site.io/thanks.html" />
				</form>

				<span class='megaInfo'>
					<div>
						Margot Savin
					</div> 
					<div>
						<img src="./img/icon/email.png">margotsavin@gmail.com
					</div>
					<div>
						<img src="./img/icon/phone.png">+3811486072
					</div>
					<div>
						<a href="https://www.facebook.com/profile.php?id=1622901291" target="_blank"><img src='./img/icon/facebook.png'></a><img src='./img/icon/twitter.png'><img src='./img/icon/linkedin.png'>
					</div>
				</span>

			</div>
		</div>
			<div id='footer'>
				
			</div>
	</div>




	<script type="text/javascript" src='./js/angular.min.js'></script>
	<script type="text/javascript" src='./js/app.js'></script>
</body>
</html>