
<div ng-controller="PortfolioController as portfolio" class="container" id="portfolio" ng-show='panel.isSelected(3)'>
					
					<div ng-if="portfolio.isSelected(0)" ng-include="viewProjekti"></div>
                	<div ng-if="portfolio.isSelected(1)" ng-include="viewSlike"></div>
					<div ng-if="portfolio.isSelected(2)" ng-include="viewCrtezi"></div>
					<div ng-if="portfolio.isSelected(3)" ng-include="viewIlustracije"></div>
					<div ng-if="portfolio.isSelected(4)" ng-include="viewKarakteri"></div>
				
			</div> 
