<div class="col-md-3 col-sm-6 col-xs-12" ng-show="portfolio.isSelected(0)" ng-repeat="projekat in portfolio.projekti">
					<div class="view view-tenth">
						<img ng-src="{{projekat.slika.jpg}}" />
						<div class="mask">
	                        <h2>{{projekat.nazivProjekta}}</h2>
	                        <p>{{projekat.opisProjekta}}</p>
	                        <a href="" ng-click= "portfolio.selectTab(projekat.redBr)" class="info">Gallery</a>
	                    </div>
                	</div>
                </div>